{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class="gallery">
    <div class="gallery-header">
        <h1>Gallery</h1>
        <p>Découvrez une collection visuelle des chaises.</p>
    </div>
    
    <div class="gallery-grid">
        {% for chaise in chaise %}
            <div class="gallery-item">
                <img src="{{ chaise.image }}" alt="{{ chaise.nom }}">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}